header nav{
	background-color: black;
	position: fixed;
	list-style: none;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	height: 35px;
	margin: 0px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	z-index: 10;
	text-align: center;
	min-width: 1000px;
	}
	

header nav li {
	display: inline-block;
	
}

header nav li a{
	
	font-family: 'Century Schoolbook', serif;
	font-size: 25px;
	color: white;
	text-decoration: none;
	padding-bottom: 15px;
	white-space: nowrap;
	padding-right:2em;
	padding-left:2em;
}

nav li a:hover {
	color: black;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
} 

body {
	background-color: white;
	padding: 0px;
	margin:0px;
	border: none;
}


#home_image img {
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
	filter: Gray();
	filter: url(#grayscale)
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
    -webkit-filter:grayscale(100%)
    filter:grayscale(100%) /* Google Chrome & Safari 6+ */
}

#home_image img:hover {
	filter: none;
    -webkit-filter: grayscale(0);
}


#home_image {
	padding-top: 100px;
	text-align: center;
}



body #home_block h1 {
	font-family: 'Century Schoolbook', serif;
	font-size: 80px;
	text-decoration: none;
	position: relative;
	text-align: center;
	top: -60px;
	color:black;
}

body #home_block p {
	font-family: 'Century Schoolbook', serif;
	position: relative;
	text-align: center;
	color: black;
	text-decoration: none;
	font-size:40px;
	top: -130px;
}


